
:root {
    --primary-text-color: #757575;
    --titled-text-color: #212121;
    --accent-color: #2196f3;
    --background-color-main: #2f303a;
    --background-color-solution-discover: #f5f5f5;
    --background-color-team: #f5f4fa;
    --contact-details-color: rgba(255, 255, 255, 0.6);
    --hero-btn-active-color: #188CE8;
    --footer-background-color: #2F303A;
    --white-color: #ffffff;
    --black-color: #000000;
    --social-icon-color: #AFB1B8;

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
  
  }